In [ ]:
import numpy as np
import pandas as pd
import sqlite3

df = pd.read_csv("data.csv")

df.rename(columns={'User ID': 'user_id',
                    'Product ID': 'product_id',
                    'Product Name' : 'product_name',
                    'Brand' : 'brand',
                    'Category' : 'category',
                    'Price' : 'price',
                    'Color' : 'color',
                    'Size' : 'size'}, inplace=True)

conn = sqlite3.connect('fashion_db.sqlite')
c = conn.cursor()

c.execute('CREATE TABLE IF NOT EXISTS fashion_products (user_id int, product_id int, product_name text, brand text, category text, price int, rating float, color text, size text)')
conn.commit()

df.to_sql('fashion_products', conn, if_exists='replace', index = False)

c.execute('''
# SELECT product_name FROM fashion_products LIMIT 100
#           ''')

for row in c.fetchall():
    print(row)

In [ ]:
import pandas as pd
from sqlalchemy import create_engine

# Load the CSV file into a DataFrame
df = pd.read_csv('D:\\Project Auto analuysis\\AUTO ANALYSIS AI\\kc_house_data.csv')

# Establish a connection to your SQL database
# Replace 'your_username', 'your_password', 'your_database', and 'your_host' with your actual database credentials
engine = create_engine('mysql://your_username:your_password@your_host/your_database')

# Push the DataFrame to a SQL table
# Replace 'table_name' with the name you want for your table
df.to_sql('table_name', engine, if_exists='replace', index=False)

# Close the database connection
engine.dispose()