In [1]:
import os
os.environ['OPENAI_API_KEY'] = 'sk-ls__2100e3512fb7406aa97539cd4984e042'

In [2]:
import pandas as pd
import sqlite3

def csv_to_sqlite(csv_file, table_name, db_file='fashion_db.sqlite'):
    # Read CSV file into a DataFrame
    df = pd.read_csv("D:\\Project Auto analuysis\\AUTO ANALYSIS AI\\kc_house_data.csv")
    
    # Connect to SQLite database
    conn = sqlite3.connect(db_file)
    c = conn.cursor()

    # Infer column names and their types from the DataFrame
    columns_info = [(col, df[col].dtype) for col in df.columns]

    # Create the table if it doesn't exist
    columns_sql = ', '.join([f'{col_name} {col_type}' for col_name, col_type in columns_info])
    c.execute(f'CREATE TABLE IF NOT EXISTS {table_name} ({columns_sql})')
    conn.commit()

    # Write DataFrame to SQLite table
    df.to_sql(table_name, conn, if_exists='replace', index=False)

    # Close the database connection
    conn.close()

# Example usage:
csv_to_sqlite('data.csv', 'fashion_products')

In [3]:
def read_sql_query(sql, db):
    conn = sqlite3.connect(db)
    cur = conn.cursor()
    cur.execute(sql)
    rows = cur.fetchall()
    for row in rows:
        print(row)
    conn.close()

In [4]:
import sqlite3
read_sql_query('SELECT * FROM fashion_products LIMIT 10;',
               "fashion_db.sqlite")

(7129300520, '20141013T000000', 221900.0, 3, 1.0, 1180, 5650, 1.0, 0, 0, 3, 7, 1180.0, 0, 1955, 0, 98178, 47.5112, -122.257, 1340, 5650)
(6414100192, '20141209T000000', 538000.0, 3, 2.25, 2570, 7242, 2.0, 0, 0, 3, 7, 2170.0, 400, 1951, 1991, 98125, 47.721, -122.319, 1690, 7639)
(5631500400, '20150225T000000', 180000.0, 2, 1.0, 770, 10000, 1.0, 0, 0, 3, 6, 770.0, 0, 1933, 0, 98028, 47.7379, -122.233, 2720, 8062)
(2487200875, '20141209T000000', 604000.0, 4, 3.0, 1960, 5000, 1.0, 0, 0, 5, 7, 1050.0, 910, 1965, 0, 98136, 47.5208, -122.393, 1360, 5000)
(1954400510, '20150218T000000', 510000.0, 3, 2.0, 1680, 8080, 1.0, 0, 0, 3, 8, 1680.0, 0, 1987, 0, 98074, 47.6168, -122.045, 1800, 7503)
(7237550310, '20140512T000000', 1225000.0, 4, 4.5, 5420, 101930, 1.0, 0, 0, 3, 11, 3890.0, 1530, 2001, 0, 98053, 47.6561, -122.005, 4760, 101930)
(1321400060, '20140627T000000', 257500.0, 3, 2.25, 1715, 6819, 2.0, 0, 0, 3, 7, 1715.0, 0, 1995, 0, 98003, 47.3097, -122.327, 2238, 6819)
(2008000270, '20150115T000000', 291850.0, 3, 1.5, 1060, 9711, 1.0, 0, 0, 3, 7, 1060.0, 0, 1963, 0, 98198, 47.4095, -122.315, 1650, 9711)
(2414600126, '20150415T000000', 229500.0, 3, 1.0, 1780, 7470, 1.0, 0, 0, 3, 7, 1050.0, 730, 1960, 0, 98146, 47.5123, -122.337, 1780, 8113)
(3793500160, '20150312T000000', 323000.0, 3, 2.5, 1890, 6560, 2.0, 0, 0, 3, 7, 1890.0, 0, 2003, 0, 98038, 47.3684, -122.031, 2390, 7570)

In [5]:
from langchain import OpenAI, SQLDatabase

In [6]:
from langchain import SQLDatabaseChain

ImportError: cannot import name 'SQLDatabaseChain' from 'langchain' (c:\Users\91999\AppData\Local\Programs\Python\Python311\Lib\site-packages\langchain\__init__.py)